/* You can add global styles to this file, and also import other style files */
$eton-blue: #a1cca5ff;
$dark-sea-green: #8fb996ff;
$russian-green: #709775ff;
$hunter-green: #415d43ff;
$dark-jungle-green: #111d13ff;

body {
	color: white;
	font-family: sans-serif;
	padding-left: 16px;
	padding-right: 16px;
}